body{font-family:'宋体';font-size:12px;margin:0;padding:0;background:url("../image/index/i1.png") top repeat-x #F7F7F7}
h1,h2,h3,h4,h5,h6,form,img,ul,ol,li,dl,dt,dd,table,div,span,p{padding:0;margin:0;border:0;}
input{padding:0;margin:0;}
li{list-style-type:none;list-style:none;}
/*a,input{blr:expression(this.onFocus=this.blur());}
a,input:focus {outline:none;}*/
*:focus {outline: none;}
.del{white-space:nowrap;overflow:hidden;}
.clear{clear:both;}
.none{display:none;}
.block{display:block;}
.fl{float:left;}
.fr{float:right;}
html{_background-image:url(about:blank);}

/* Acquiescence link */
a:link,a:visited{text-decoration:none;color:#474747;}
a:active,a:hover{text-decoration:underline;color:#E14F00;}
a.white:link,a.white:visited{color:#fff;text-decoration:none;}
a.white:hover,a.white:active{color:#fff;text-decoration:underline;}

/* Layout Style */
#wrap{width:1000px;margin:0 auto;border-top:0;clear:both;-moz-position:relative;-moz-margin-top:-20px;}
#head{width:1000px;height:50px;background:url("../image/index/i1.png") repeat-x;float:left;}
#head p{width:200px;height:50px;float:left;position:relative;}
#head p img{float:left;position:absolute;}
#head strong{width:50px;float:left;font-size:14px;font-weight:100;margin:20px 0 0 140px;}

#head b{float:left;margin:18px 10px 0 10px;display:inline;}
#head div{height:47px;float:right;font-size:14px;color:#fff;}
#head div img{width:34px;height:34px;margin-top:8px;float:left;}
#head div a:link,#head div a:visited{padding:7px 5px 0 5px;height:40px;line-height:40px;float:left;text-decoration:none;color:#fff;}
#head div a:active,#head div a:hover{padding:7px 5px 0 5px;height:40px;line-height:40px;float:left;background:#2678BA;text-decoration:underline;color:#fff;}

#main{width:1000px;margin-top:22px;float:left;clear:both;}
#foot{padding:50px 0 30px 0;margin:20px 0 0 0;clear:both;background:#E8E8E8;text-align:center; line-height:24px; color:#818181;}
#foot div{width:1000px;margin:0 auto 0 auto;}
#foot a {margin:0 5px 0 11px;}
#foot a:link,#foot a:visited {text-decoration:none;color:#595959;}
#foot a:hover,#foot a:active {text-decoration:underline;color:#595959;}
.container{width:1000px;margin-top:14px;float:left;}


/* 顶部搜索盒子 */
#topsearch{width:325px;height:30px;margin:12px 20px 0 0;display:inline;background:url("../image/index/i19.png") no-repeat;float:right;}
#topsv{width:270px;padding:0 10px;height:30px;float:left;background:none;border:none;}
#topss{width:30px;height:30px;background:none;float:left;border:none;cursor:pointer;}

/* 新建直播弹出层 */
#directwrap{position:absolute;background:rgba(0,0,0,0.5);filter:progid:dximagetransform.microsoft.gradient(startcolorstr="#66000000", endcolorstr="#66000000",gradienttype=0);
padding:9px;float:left;top:50px;z-index:9999;opacity:0;display:none;_top:100px;*top:100px;top:100px\0;}
#directbg{float:left;background:#F0F9FF;clear:both;}
